[submodule "vendor/M2-Planet"]
	path = vendor/M2-Planet
	url = https://github.com/oriansj/M2-Planet
[submodule "vendor/mescc-tools"]
	path = vendor/mescc-tools
	url = https://github.com/oriansj/mescc-tools
[submodule "vendor/stage0-posix"]
	path = vendor/stage0-posix
	url = https://github.com/oriansj/stage0-posix
[submodule "vendor/mes"]
	path = vendor/mes
	url = https://git.savannah.gnu.org/git/mes.git
